.DS_Store
.DS_Store
.conda/
.vscode/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env
venv/
.venv/
env/
ENV/
*.egg-info/
*.ipynb_checkpoints/
/WebScrapping/.git/
/WebScrapping/.venv/
/WebScrapping/.vscode/
/WebScrapping/.DS_Store
WebScrapping/.git/
WebScrapping/.venv/
WebScrapping/.vscode/
WebScrapping/.DS_Store
